{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "simple-import-sort"],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "simple-import-sort/sort": "error",
    "import/no-mutable-exports": "off"
  }
}
